body {
	background: radial-gradient(circle farthest-corner at 200px 0, #414141, #000);
	background-position: top left;
	color: white;
}

h1 { margin-left: 30px;}

.panel {
	position: relative;
	width: 70%;
	height: 50px;
	left: 15%;
	text-align: center;
	margin: 20px;
	font-weight: 700;
}
.indicators {
	background-color: #F22020;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #DDD;
	width: 150px;
	position: relative;
	padding: 15px 30px;
	margin: 15px 30px;
}

.board {
	position: absolute;
	left: 50%;
	height: 560px;
	width: 560px;
	margin-left: -300px;
	margin-bottom: 50px;
}
.row {
	position: relative;
	height: 70px;
	width: 100%;
	background-color: black;
}
.cell {
	float: left;
	position: relative;
	height: 70px;
	width: 70px;
	display: inline-block;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.cell img {
	width: 100%;
	height: 100%;
	position: relative;
}

.cell:hover {
	box-shadow: inset 0px 0px 6px green,
				inset 0px 0px 2px green,
				inset 0px 0px 15px green;
}
.bianco {
	background-color: #DDD;
}

.nero {
	background-color: #111111;
}


#message{
	width: 100%;
	height: 100%; /* 1450px; */
	background-color: rgba(250,248,239, 0.6);
	position: absolute;
	top: 0px; /*90px;*/
	left: 0px;
	text-align: center;
	display: none; /*block;*/
	z-index: 999;
}
#message #share_panel{
	display: block;
}
#message div.share{
	text-align: center;
	margin: 0 auto;
}
#message div#tweet_game{
	color: rgb(250,248,239);
	background-color:#1B190F;
	padding: 10px 0px 20px 0px;
	border-radius: 0px 0px 20px 20px;
	margin-top: -45px;
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
#message div#tweet_game #tweet_center{
	/*width: 0%;
	margin-left: 40%;*/
	text-align: center;

}

#message p#button{
	font-size: 2.5em;
	font-weight: bolder;
	background-color:#1B190F;
	border-radius: 20px 20px 0px 0px;
	color: rgb(250,248,239);
	margin-top: -50px;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	line-height: 80px;
}
#message p#button:hover{
	cursor: pointer;
}
#message p#data_message{
	font-size: 4em;
	font-weight: bolder;
	color:#1B190F;
	margin-top: -50px;
	text-shadow: 1px 1px 1px rgb(250,248,239),
				-1px -1px 1px rgb(250,248,239);
}
#message p#notification{
	font-size: 6em;
	font-weight: bolder;
	color:#1B190F;
	margin-top: 30px; /*300px;*/
	text-shadow: 1px 1px 1px rgb(250,248,239),
				-1px -1px 1px rgb(250,248,239);
}

.popup{
	padding: 5px 15px 5px 15px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	color: #333; /*black*/
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	cursor: pointer;
	text-align: left;
	font-size: 15px;
	line-height: 15px;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	text-decoration: none;
	
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(252,252,252,1) 0%, rgba(214,214,214,1) 100%, rgba(4,5,7,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(214,214,214,1)), color-stop(100%,rgba(4,5,7,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(252,252,252,1) 0%,rgba(214,214,214,1) 100%,rgba(4,5,7,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(252,252,252,1) 0%,rgba(214,214,214,1) 100%,rgba(4,5,7,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(252,252,252,1) 0%,rgba(214,214,214,1) 100%,rgba(4,5,7,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(252,252,252,1) 0%,rgba(214,214,214,1) 100%,rgba(4,5,7,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#040507',GradientType=0 ); /* IE6-9 */
	position: relative;


}
.popup:before{
	content: "\e600 ";
	font-family: 'icomoon';
	color: #37B4DD;
	padding-right: 10px;
	font-size: 17px;
	position: relative;
	margin-top: 20px;
}